@font-face {
    font-family: 'poalimsansbook';
/*    src:  url('https://www.bitpay.co.il/fonts/poalimsans-book.ttf');*/
    src:  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.woff2'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.woff'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.eot'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.otf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poalimsanslight';
    src:  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.woff2'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.woff'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.eot'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Light.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poalimsansmedium';
    src:  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Medium.woff2'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Medium.woff'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Medium.eot'),
    	  url('https://www.bitpay.co.il/fonts/PoalimSansBIT-Medium.otf');
    font-weight: normal;
    font-style: normal;

}
